{% extends 'base.html' %}

{% block body %}
    <form method="POST" action="" class="signup signin">
        {{ formsignup.csrf_token }}

        <div class="title">
            <img src="{{ url_for('static', filename='feather-solid.svg')}}" alt="placeholder">
            <h1>Meu poema</h1>
        </div>
        <div class="description">
            <p id="description-title">Great to see you!</p>
            <p id="description-text">Let’s set up your account in just a couple of steps.</p>
        </div>

        <div class="social-accounts">
            <button type="submit" class="google">
                <img src="{{ url_for('static', filename='google.svg')}}" alt="placeholder">
                Google
            </button>

            <button type="submit" class="facebook">
                <img src="{{ url_for('static', filename='facebook.svg')}}" alt="placeholder">
                Facebook
            </button>

            <button type="submit" class="apple">
                <img src="{{ url_for('static', filename='apple.svg')}}" alt="placeholder">
                Apple
            </button>
        </div>

        <div class="div-input-login">

            <div class="div-email-name">
                <div>
                    {{ formsignup.name.label }}
                    {% if formsignup.name.errors %}
                        {{ formsignup.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in formsignup.name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>

                    {% else %}
                        {{ formsignup.name }}
                    {% endif %}
                </div>

                <div>
                    {{ formsignup.email.label }}

                    {% if formsignup.email.errors %}
                        {{ formsignup.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in formsignup.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>

                    {% else %}
                        {{ formsignup.email }}
                    {% endif %}


                </div>
            </div>

            {{ formsignup.password.label }}
            {% if formsignup.password.errors %}
                {{ formsignup.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in formsignup.password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>

            {% else %}
                {{ formsignup.password }}
            {% endif %}

            {{ formsignup.confirm_password.label }}
            {% if formsignup.confirm_password.errors %}
                {{ formsignup.confirm_password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in formsignup.confirm_password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>

            {% else %}
                {{ formsignup.confirm_password }}
            {% endif %}

            {{ formsignup.submit }}
            <p class="link">
                <a href="/signin">
                    Signin
                </a>
            </p>
        </div>

    </form>
{% endblock %}
