{% extends 'base.html' %}

{% block body %}
    <form method="GET" action="" class="signup signin">
        <div class="title">
            <img src="{{ url_for('static', filename='feather-solid.svg')}}" alt="placeholder">
            <h1>Meu poema</h1>
        </div>
        <div class="description">
            <p id="description-title">Great to see you!</p>
            <p id="description-text">Let’s set up your account in just a couple of steps.</p>
        </div>

        <div class="social-accounts">
            <button type="submit" class="google">
                <img src="{{ url_for('static', filename='google.svg')}}" alt="placeholder">
                Google
            </button>

            <button type="submit" class="facebook">
                <img src="{{ url_for('static', filename='facebook.svg')}}" alt="placeholder">
                Facebook
            </button>

            <button type="submit" class="apple">
                <img src="{{ url_for('static', filename='apple.svg')}}" alt="placeholder">
                Apple
            </button>
        </div>

        <div class="div-input-login">
            {{ formsignin.csrf_token }}

            <div>
                {{ formsignin.email.label }}
                {{ formsignin.email }}
            </div>

            {{ formsignin.password.label }}
            {{ formsignin.password }}

            <div class="div-lembrar-senha">
                {{ formsignin.rememberPassword.label }}
                {{ formsignin.rememberPassword}}
            </div>

            {{ formsignin.submit }}
            <p class="link">
                <a href="/signup">
                    Signup
                </a>
            </p>
        </div>

    </form>
{% endblock %}
