{% extends 'base.html' %}

{% block body %}
    <div class="home">
        <div class="fy">
            <input type="text" class="input-search" placeholder="Pesquisar">

            {% if current_user.is_authenticated %}
                <div class="create-poem">
                    <img src="{{ avatars.default(size='s') }}">
                    <form action="" method="POST">
                        {{ formCriarPost.csrf_token }}
                        {{ formCriarPost.criarPost(class="input-title", placeholder="Título do poema", autocomplete="off") }}
                    </form>
                </div>
            {% endif %}
            {% include 'post.html' %}
        </div>
    </div>
{% endblock %}