{% extends 'base.html' %}

{% block body %}
    <div class="home">
        <div class="fy">
            <input type="text" class="input-search" placeholder="Pesquisar">

            {% if current_user.is_authenticated %}
                <div class="create-poem">
                    <img src="{{ avatars.default(size='s') }}">
                    <form action="" method="POST">
                        {{ formCriarPost.csrf_token }}
                        {{ formCriarPost.criarPost(class="input-title", placeholder="Título do poema", autocomplete="off") }}
                    </form>
                </div>
            {% endif %}

            <div class="home-posts">
                {% for post in posts %}
                    <div class="home-post">
                        <div class="home-post-header">
                            {% set user = get_user(post.user_id) %}
                            <img src="{{ profile_pictures }}{{user.foto_perfil }}" alt="Avatar" class="avatar-post">
                            <div class="home-post-info">
                                <p class="home-post-username">{{ user.username }}</p>
                                <p class="poemPost-time">{{ post.date_posted.strftime('%d %B %Y, %H:%M') }}</p>
                            </div>

                            <nav>
                              <img class="bookmark" src="{{ url_for('static', filename='bookmark.svg')}}" alt="bookmark">

                              <div class="div-settings">
                                <p class="settings">...</p>
                              </div>
                            </nav>
                        </div>

                        <pre class="home-post-content">
                            <h5 class="home-post-title">{{ post.title }}</h5>
                            {{ post.content }}
                        </pre>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}