{% extends 'base.html' %}

{% block body %}
    <div class="messagePage">
        <div>
            {% set seen_senders = {} %}
            {% for message in message %}
                {% if message.sender_id != current_user.id and message.sender_id not in seen_senders %}
                    {% set _ = seen_senders.update({message.sender_id: true}) %}
                    <div class="messagePage-messages">
                        {% set user = get_user(message.sender_id) %}
                        <a href="{{ url_for('profile', id=user.id) }}">
                            <img src="{{ url_for('static', filename='profile_pictures/' + user.foto_perfil ) }}"
                             alt="User Image"
                             class="poemImage"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-right: 15px" />
                        </a>

                        <div class="messagePage-info">

                            <a href="{{ url_for('profile', id=user.id) }}">
                                {% if user.username|length > 82 %}
                                    <strong>{{ user.username[:82] + '...' }}</strong>
                                {% else %}
                                    <p>{{ user.username }}</p>
                                {% endif %}

                            </a>
                            <a href="{{ url_for('message', sender=message.recever_id, recever=message.sender_id) }}" class="messagePage-message" style="color: white">
                                {% if message.message|length > 82 %}
                                    {{ message.message[:82] + '...' }}
                                {% else %}
                                    <p>{{ message.message }}</p>
                                {% endif %}
                            </a>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}