{% extends 'base.html' %}

{% block body %}
    <div class="messagePage">
        <div>
            {% set rendered_receivers = [] %}
            {% for message in message %}
                {% if message.recever_id not in rendered_receivers %}
                    {% if message.sender_id != current_user.id %}
                        <div class="messagePage-messages">
                            {% set user = get_user(message.sender_id) %}
                            <img src="{{ url_for('static', filename='profile_pictures/' + user.foto_perfil ) }}" alt="Poem Image" class="poemImage" style="border-radius: 50%; width: 80px; height: 80px; margin-left: 10px" />
                            <div>
                                {{ message.message }}
                            </div>
                        </div>
                    {% endif %}
                    {% set _ = rendered_receivers.append(message.recever_id) %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}