<sidebar class="sidebar">
    <div class="top">
        <img src="{{ url_for('static', filename='feather-solid.svg')}}" alt="placeholder">
        <h1>Meu Poema</h1>
    </div>
    <hr>
    <nav class="nav">
        <p><a href="{{ url_for('home') }}"><i class="bi bi-house"></i> Home</a></p>
        <p><a href="{{ url_for('notification') }}"><i class="bi bi-bell"></i> Notificações</a></p>
        <p><a href="{{ url_for('profile') }}"><i class="bi bi-person"></i> Perfil</a></p>
        <p><a href="/meuPoema/static"><i class="bi bi-chat"></i> Mensagens</a></p>
        <p><a href="{{ url_for('config') }}"><i class="bi bi-gear"></i> Configurações</a></p>
        <p><a href="/meuPoema/static"><i class="bi bi-bookmark"></i> Poemas salvos</a></p>
    </nav>

    <div class="suporte">
        <button>
            <i class="bi bi-question-circle"></i> Suporte
        </button>
    </div>
</sidebar>
