{% extends 'base.html' %}

{% block body %}
    <div class="notification-page">
        <div class="notification-item">

            <div class="notification-content">
                {% for notification in notification %}
                    {% if notification.is_read == False %}
                        <p>
                            <a href="{{ url_for('profile', id=notification.user.id) }}">
                                {{ notification.user.username }}
                            </a>

                            {{ notification.message }}
                        </p>
                    {% else %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}