{% extends 'base.html' %}

{% block body %}
    <div class="profile">
        <div class="profile-header">

            <div class="profile-image profile-name">
                <img src="{{ profile_pictures }}" alt="Avatar" class="avatar-profile">
                <p id="name">
                    {{ user.username }}
                </p>
                <p id="username">{{ user.userUnique }}</p>
            </div>

            <div class="profile-info">
                <div class="followers">
                    <p>Seguindo {{ user.following }}</p>
                    <p>Seguidores {{ user.followers }}</p>
                </div>

                <div class="profile-btn-info">
                    <button id="follow">Seguir</button>
                    <button id="message">Enviar mensagem</button>

                    {% if user.id == current_user.id %}
                        <a href="{{ url_for('edit_profile') }}" style="text-decoration: none; color: white;">
                            <button id="edit">Editar perfil</button>
                        </a>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% block form_edit_profile %}
        {% endblock %}

        <div>
            <h2>Sobre mim</h2>
            <p>{{ user.bio }}</p>
        </div>
    </div>
{% endblock %}