<div>
    <div class="followers">
        <div class="title">
            <p>Ranking</p>
            <p>Seguidores</p>
        </div>

        <div class="userRanking">
            <div>
                1°
                <img src="{{ avatars.default(size='s') }}">
                <p>Joao</p>
            </div>

            <div>
                1°
                <img src="{{ avatars.default(size='s') }}">
                <p>Joao</p>
            </div>

            <div>
                1°
                <img src="{{ avatars.default(size='s') }}">
                <p>Joao</p>
            </div>

            <div>
                1°
                <img src="{{ avatars.default(size='s') }}">
                <p>Joao</p>
            </div>

            <div>
                1°
                <img src="{{ avatars.default(size='s') }}">
                <p>Joao</p>
            </div>
        </div>
    </div>

    <div class="notifications">
        <p id="title-notification">Notificações</p>

        <i class="bi bi-bell"></i>

        <p id="text-notification">Você não tem nenhuma notificação no momento.</p>
    </div>
</div>