<div>
    <div class="followers">
        <div class="title">
            <p>Ranking</p>
            <p>Seguidores</p>
        </div>

        <div class="userRanking">
            {% for listaRankUser in listaRankUsers %}
                <div class="user">
                    <p>{{ loop.index }}</p>
                    <img src="{{ url_for('static', filename='profile_pictures/' + listaRankUser.foto_perfil) }}" class="img-rank" alt="Avatar">
                    <p id="name">{{ listaRankUser.username }}</p>
                    <p id="followers">{{ listaRankUser.followers }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="notifications">
        <p id="title-notification">Notificações</p>

        <i class="bi bi-bell"></i>

        <p id="text-notification">Você não tem nenhuma notificação no momento.</p>
    </div>
</div>