{% extends 'base.html' %}

{% block body %}
    <form method="POST" action="" class="signin">
        {{ formsignin.csrf_token }}

        <div class="title">
            <img src="{{ url_for('static', filename='feather-solid.svg')}}" alt="placeholder">
            <h1>Meu poema</h1>
        </div>
        <div class="description">
            <p id="description-title">Great to see you!</p>
            <p id="description-text">Let’s set up your account in just a couple of steps.</p>
        </div>

        <div class="social-accounts">
            <button type="submit" class="google">
                <img src="{{ url_for('static', filename='google.svg')}}" alt="placeholder">
                Google
            </button>

            <button type="submit" class="facebook">
                <img src="{{ url_for('static', filename='facebook.svg')}}" alt="placeholder">
                Facebook
            </button>

            <button type="submit" class="apple">
                <img src="{{ url_for('static', filename='apple.svg')}}" alt="placeholder">
                Apple
            </button>
        </div>

        <div class="div-input-login">
            <div>
                {{ formsignin.email.label }}
                {% if formsignin.email.errors %}
                        {{ formsignin.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in formsignin.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>

                    {% else %}
                        {{ formsignin.email }}
                    {% endif %}
            </div>

            {{ formsignin.password.label }}
            {% if formsignin.password.errors %}
                {{ formsignin.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in formsignin.password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>

            {% else %}
                {{ formsignin.password }}
            {% endif %}

            <div class="div-lembrar-senha">
                {{ formsignin.rememberPassword.label }}
                {{ formsignin.rememberPassword}}
            </div>

            {{ formsignin.submit }}
            <p class="link">
                <a href="/signup">
                    Signup
                </a>
            </p>
        </div>

    </form>
{% endblock %}
